.p-button-raised {
    background: #4698CB !important;
}
.p-button-secondary {
    background: #007864 !important;
}
.p-button-info {
    background: #E3A82B !important;
}
.p-button-danger {
    background: #971B2F !important;
}


