.calculator-splash {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.p-button {
    width: fit-content;
    align-self: center;
}

.p-panel-content {
    display: flex;
    flex-direction: column;
}