/* BCSans-regular - latin-ext_latin */
@font-face {
  font-family: "BC Sans";
  font-style: normal;
  font-weight: 400;
  src: local("BC Sans"), local("BCSans-Regular"),
    url("./assets/fonts/BCSans/BCSans-Regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* BCSans-700 - latin-ext_latin */
@font-face {
  font-family: "BC Sans";
  font-style: normal;
  font-weight: 700;
  src: local("BC Sans Bold"), local("BCSans-Bold"),
    url("./assets/fonts/BCSans/BCSans-Bold.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  font-family: BC Sans, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
    Lucida Grande, sans-serif;
  --font-family-bold: BC Sans Bold, Helvetica Neue Light, Helvetica Neue,
    Helvetica, Arial, Lucida Grande, sans-serif;

  /*font-family: Inter, Avenir, Helvetica, Arial, sans-serif;*/
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: inherit;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 !important;
}

.p-component {
  font-family: BC Sans, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
    Lucida Grande, sans-serif;
  --font-family-bold: BC Sans Bold, Helvetica Neue Light, Helvetica Neue,
    Helvetica, Arial, Lucida Grande, sans-serif;
}

.content {
  margin: 3px;
  padding: 1em;
}

.form-field-container {
  flex-direction: column;
  display: flex;
  text-align: start;
}

.radio-toggle .p-button {
  background: #ffffff !important;
  border: 1px solid #4e555b !important;
  color: #4e555b !important;
}

.radio-toggle .p-button.p-highlight {
  background: #007bff !important;
  border-color: #007bff !important;
  color: #ffffff !important;
}

.error {
  color: #b91c1c;
  padding: 1px;
  margin: 1px;
}

.p-toast {
  position: fixed;
  top: 50vh !important;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999 !important;
  margin: auto;
  height: fit-content;
  width: fit-content;
}

.p-toast-top-right {
  --toast-indent: 20px;
  top: 5vh !important;
}

/* Autocomplete input */
.p-autocomplete-input {
  width: 100%;
}

/* Progress spinner overlay */
.overlay {
  position: fixed;
  z-index: 9999;
  height: 8em;
  width: 8em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
}

.p-card {
  border: none;
}

.page-header .p-card-title {
  font-size: 2em !important;
}

.step-incomplete,
.step-completed .p-steps-title {
  font-weight: bold;
}
.step-incomplete .p-steps-number {
  font-weight: bold;
}
.step-completed,
.step-completed .p-steps-title {
  font-weight: bold;
}
.step-completed .p-steps-number {
  background-color: forestgreen !important;
  color: white !important;
  font-weight: bold;
}
